
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  flex-wrap: wrap; 
  align-items: center; 
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  margin-right: 10px; 
  margin-bottom: 10px; 
}

nav a:hover {
  color: #ffcc00; 
  text-decoration: none; 
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


p {
  font-family: 'Montserrat', sans-serif;
}

.section {
  padding: 50px;
  text-align: center;
}

.home-logo img {
  width: 100px;
  height: auto;
}

.zona1 {
  background-color: #fff;
  padding: 50px;
}


.contacto {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.formulario {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
}

.campo {
  margin-bottom: 10px;
}

.campo label {
  display: block;
  margin-bottom: 5px;
}

.campo input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.botones .btn {
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  width: 160px;
  margin: auto;
  height: auto;
  margin-right: 10px;
}

.botones.btn-group {
  margin-top: 20px;
  height: 45px;
  padding: 5px;
}

.botones .btn-primary {
  margin-right: 10px; 
}

#mensajeCompra {
    display: none; 
    margin-top: 20px;
    text-align: center;
}

.container {
  max-width: 960px; 
  margin: 0 auto; 
  padding: 20px;
}

.producto {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
}

.producto th, .producto td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.total {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2em;
}
.botones {
  margin-top: 20px;
}

.btn-group a.btn,
.btn-group button.btn {
    text-transform: none;
    font-weight: 200; 
}

.boton {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.container-productos {
 display: flex;
 flex-wrap: wrap;
  gap: 6rem;
  
}

.card-productos {
  display: flex;
  flex-direction: column; 
  min-height: 500px ;
  gap: 1rem;
  max-width: 400px;
  max-height: 600px;
  justify-content: space-between;
  padding: 2rem;
}

.card-image img {
 max-width: 250px;
}

.card-button {
  display: unset;
  justify-content: center; 
  align-items: center; 
  height: 50px; 
  margin-top: auto;
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
}

.card-button .button-add {
  background-color: #000 !important;
  color: #fff !important;
  border: none !important;
  cursor: pointer !important;
  transition: background-color 0.3s, color 0.3s;
  text-align: center; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 14px; 
  font-weight: bold; 
  border-radius: 10px; 
}

.card-button .button.button-add:hover {
  background-color: #ffcc00 !important;
  color: #000 !important;
  text-decoration: none !important;
}

#mensajeConfirmacion {
  display: none;
  background-color: #00ff6a; 
  color: #000; 
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

#tablaCarrito.producto {
  background-color: #ffffff;
  color: #333;
  width: 100%; 
  border-collapse: collapse; 
}


#tablaCarrito.producto td img {
  max-width: 100%; 
  height: auto;
}

#tablaCarrito.producto th,
#tablaCarrito.producto td {
  padding: 12px; 
  border: 1px solid #ddd;
  text-align: center; 
  vertical-align: middle; 
}

button.svelte-1ruergu.svelte-1ruergu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--borderRadius);
  height: 45px;
  width: auto;
  border: none;
  cursor: pointer;
  padding: 16px;
  width: 70%;
  height: 40px;
  min-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  line-height: 20px;
  font-family: 'sans serif';
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: -10px;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
  }
}

nav a {
  display: block; 
  margin-right: 0;
}
