<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>SpaceStation Store</title>
    <link rel="icon" href="../img/logo.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <header>
        <div class="home-logo">
            <a href="../index.html"><img src="../img/logo.png" alt="logo"></a>
        </div>

        <nav>
            <a href="../view/catalogo.html" class="nav-link">Productos</a>
            <a href="../view/contacto.html" class="nav-link">Contacto</a>
            <a href="../view/carro de compra.html" class="nav-link">Carrito de compras</a>
        </nav>
    </header>

    <section class="container">
        <div class="carrito">
            <h1 class="titulo">Carrito de compras</h1>

            <table class="producto" id="tablaCarrito">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Imagen</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody id="tbodyCarrito">
    
                </tbody>
            </table>

            <div class="total">
                Total: $<span id="totalCarrito">0</span>
            </div>

            <div class="botones btn-group">
                <a href="catalogo.html" class="btn btn-primary">Seguir comprando</a>
                <button id="botonPagar" class="btn btn-success">Pagar</button>
            </div>

            <div id="mensajeCompra" class="alert alert-success fade show fixed-bottom mx-auto" role="alert">
                ¡Gracias por su compra!
            </div>
        </div>
    </section>

    <script defer src="/js/carrito.js"></script>
    <script defer src="/js/checkout.js"></script>
</body>

</html>